<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="eezybot_mk1">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import eezybot_mk1 urdf file -->
    <xacro:include filename="$(find eezybot_mk1_description)/urdf/mk1.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="eezybot_mk1.ros2_control.xacro" />


    <xacro:eezybot_mk1_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
