<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="eezybot_mk2">

    <xacro:property name="extras" value="false"/>

    <!-- Include other files -->
    <xacro:include filename="$(find eezybot_mk2_description)/urdf/include/mk2_materials.urdf.xacro"/>
    <xacro:include filename="$(find eezybot_mk2_description)/urdf/include/mk2_base.urdf.xacro"/>
    <xacro:include filename="$(find eezybot_mk2_gz)/urdf/include/mk2_gazebo.urdf.xacro"/>

</robot>